@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "Aeonik";
  src: url("../public/fonts/Aeonik-Black.woff") format("woff"),
    url("../public/fonts/Aeonik-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik";
  src: url("../public/fonts/Aeonik-Bold.woff") format("woff"), url("../public/fonts/Aeonik-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aeonik";
  src: url("../public/fonts/Aeonik-Medium.woff") format("woff"),
    url("../public/fonts/Aeonik-Medium.woff") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeneralSans";
  src: url("../public/fonts/GeneralSans-Regular.woff") format("woff"),
    url("../public/fonts/GeneralSans-Regular.woff") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeneralSans";
  src: url("../public/fonts/GeneralSans-Medium.woff") format("woff"),
    url("../public/fonts/GeneralSans-Medium.woff") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeneralSans";
  src: url("../public/fonts/GeneralSans-Semibold.woff") format("woff"),
    url("../public/fonts/GeneralSans-Semibold.woff") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.container-block {
  max-width: 1248px;
  margin: 0 auto;
}

/* Animations */
/* Buttons */
.button {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button--white,
.button--red,
.button--blue,
.button--transparent {
  font-weight: bold;
  overflow: hidden;
}

.button--white {
  color: #304098;
  background: #fff;
}

.button--red {
  color: #fff;
  background: #983030;
}

.button--blue {
  color: #fff;
  background: #304098;
}

.button--transparent {
  color: #fff;
  background: transparent;
  border: 2px solid #fefefe;
}

.button--white span,
.button--red span,
.button--blue span,
.button--transparent span {
  display: block;
  position: relative;
  z-index: 10;
}

.button--white:hover span,
.button--transparent:hover span {
  animation: MoveScaleUpInitial 0.3s forwards, MoveScaleUpEnd 0.3s forwards 0.3s;
}

.button--red:hover span {
  animation: MoveScaleUpInitial 0.3s forwards, MoveScaleUpEndRed 0.3s forwards 0.3s;
}

.button--blue:hover span {
  animation: MoveScaleUpInitial 0.3s forwards, MoveScaleUpEndBlue 0.3s forwards 0.3s;
}

@keyframes MoveScaleUpInitial {
  to {
    transform: translate3d(0, -105%, 0) scale3d(1, 2, 1);
    opacity: 0;
  }
}

@keyframes MoveScaleUpEnd {
  from {
    transform: translate3d(0, 100%, 0) scale3d(1, 2, 1);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    color: white;
  }
}

@keyframes MoveScaleUpEndRed {
  from {
    transform: translate3d(0, 100%, 0) scale3d(1, 2, 1);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    color: #b94d4d;
  }
}

@keyframes MoveScaleUpEndBlue {
  from {
    transform: translate3d(0, 100%, 0) scale3d(1, 2, 1);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    color: #304098;
  }
}

.button--white::before,
.button--red::before,
.button--blue::before,
.button--transparent::before {
  overflow: hidden;
  content: "";
  width: 120%;
  height: 0;
  padding-bottom: 120%;
  top: -110%;
  left: -10%;
  border-radius: 50%;
  transform: translate3d(0, 68%, 0) scale3d(0, 0, 0);
}

.button--white::before,
.button--transparent::before {
  background: #304098;
}

.button--red::before {
  background: #fff;
}

.button--blue::before {
  background: #fff;
}

.button--white:hover::before,
.button--red:hover::before,
.button--blue:hover::before,
.button--transparent:hover::before {
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}

.button--white::after,
.button--red::after,
.button--blue::after,
.button--transparent::after {
  overflow: hidden;
  content: "";
  transform: translate3d(0, -100%, 0);
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}

.button--white::after,
.button--transparent::after {
  background: #304098;
}

.button--red::after {
  background: #fff;
}

.button--blue::after {
  background: #fff;
}

.button--white:hover::after,
.button--red:hover::after,
.button--blue:hover::after,
.button--transparent:hover::after {
  transform: translate3d(0, 0, 0);
  transition-duration: 0.05s;
  transition-delay: 0.5s;
  transition-timing-function: linear;
}

.heart-animation {
  animation: pulse 1.2s infinite;
}

@keyframes pulse {
  10% {
    transform: scale(1.5);
  }
}

/* Link */
.link {
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.3s ease-in-out;
  overflow: hidden;
}

.link:hover {
  background-position: 0;
}

.white-link {
  color: #fff;
  background-image: linear-gradient(to right, #b94d4d, #b94d4d 50%, #fff 50%);
}

.black-link {
  background-image: linear-gradient(to right, #b94d4d, #b94d4d 50%, #121212 50%);
}

.button-link svg {
  transition: transform 0.3s ease-in-out;
}

.button-link:hover svg {
  transform: translateX(5px);
}

/* Home */
.home-hero {
  background-image: url("https://res.cloudinary.com/dljsalifp/image/upload/v1686658930/hos/home-hero-bg_pnpz3s.png");
  background-size: cover;
  background-position: center right;
}

.trumpet-left {
  background-image: url("https://res.cloudinary.com/dljsalifp/image/upload/v1686679407/hos/left-trumpet_ulteif.png");
  background-size: cover;
}

.trumpet-right {
  background-image: url("https://res.cloudinary.com/dljsalifp/image/upload/v1686679407/hos/right-trumpet_rvgly3.png");
  background-size: cover;
  background-position: center;
}

/* Memorial Page */
.memorial-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 220px;
  width: 100%;
  background-color: #fff2f2;
  z-index: -1;
}

.about-visioner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  background-color: #fff;
}

@media (min-width: 768px) {
  .memorial-page::before {
    height: 350px;
  }

  .about-visioner::before {
    height: 180px;
  }
}

@media (min-width: 1024px) {
  .memorial-page::before {
    height: 490px;
  }

  .about-visioner::before {
    height: 250px;
  }
}

.team-card > div {
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
}

.team-card:hover > div {
  transform: translateY(0);
}

.team-card:hover > img {
  filter: blur(5px);
}

/* Blogpost */
.blogpost br {
  display: none !important;
}

.blogpost p,
.blogpost li {
  font-family: "GeneralSans", sans-serif;
  color: #777777;
  font-size: 15px;
  line-height: 25px;
  margin-bottom: 30px;
  font-weight: 500;
}

.blogpost h2,
.blogpost h3 {
  font-family: "Aeonik", sans-serif;
  font-weight: 700;
  margin-bottom: 12px;
  color: #4c4c4c;
}

.blogpost h2 {
  font-size: 18px;
  line-height: 24px;
}

.blogpost h3 {
  font-size: 16px;
  line-height: 22px;
}

@media (min-width: 768px) {
  .blogpost p,
  .blogpost li {
    font-size: 18px;
    line-height: 28px;
  }

  .blogpost h2 {
    font-size: 20px;
    line-height: 28px;
  }

  .blogpost h3 {
    font-size: 18px;
    line-height: 26px;
  }
}

@media (min-width: 1024px) {
  .blogpost p,
  .blogpost li {
    font-size: 24px;
    line-height: 38px;
  }

  .blogpost h2 {
    font-size: 40px;
    line-height: 53px;
  }

  .blogpost h3 {
    font-size: 32px;
    line-height: 42px;
  }
}
