@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: 'Aeonik';
  src: url('../public/fonts/Aeonik-Black.woff') format('woff'),
      url('../public/fonts/Aeonik-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../public/fonts/Aeonik-Bold.woff') format('woff'),
      url('../public/fonts/Aeonik-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../public/fonts/Aeonik-Medium.woff') format('woff'),
      url('../public/fonts/Aeonik-Medium.woff') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('../public/fonts/GeneralSans-Regular.woff') format('woff'),
      url('../public/fonts/GeneralSans-Regular.woff') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('../public/fonts/GeneralSans-Medium.woff') format('woff'),
      url('../public/fonts/GeneralSans-Medium.woff') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GeneralSans';
  src: url('../public/fonts/GeneralSans-Semibold.woff') format('woff'),
      url('../public/fonts/GeneralSans-Semibold.woff') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

.container-block {
  max-width: 1248px;
  margin: 0 auto;
}

/* Typography */
.text-smallest {
  font-size: 12px;
  line-height: 19px;
}

.text-detail {
  font-size: 14px;
  line-height: 21px;
}

.text-body-1 {
  font-size: 15px;
  line-height: 25px;
}

.text-button {
  font-size: 15px;
  line-height: 24px;
}

.text-heading-4 {
  font-size: 16px;
  line-height: 20px;
}

.text-heading-3 {
  font-size: 18px;
  line-height: 24px;
}

.text-heading-2 {
  font-size: 22px;
  line-height: 30px;
}

.text-heading-1 {
  font-size: 26px;
  line-height: 32px;
}

@media (min-width: 768px) {
  /* .text-smallest {
    font-size: 14px;
    line-height: 22px;
  } */

  /* .text-detail {
    font-size: 20px;
    line-height: 32px;
  } */

  /* .text-body {
    font-size: 24px;
    line-height: 38px;
  } */

  /* .text-button {
    font-size: 23px;
    line-height: 37px;
  } */
  
  /* .text-heading-4 {
    font-size: 18px;
    line-height: 24px;
  } */
  
  /* .text-heading-3 {
    font-size: 32px;
    line-height: 42px;
  } */
  
  /* .text-heading-2 {
    font-size: 40px;
    line-height: 53px;
  } */
  
  /* .text-heading-1 {
    font-size: 56px;
    line-height: 65px;
  } */
}

@media (min-width: 1024px) {
  /* .text-smallest {
    font-size: 16px;
    line-height: 26px;
  }

  .text-detail {
    font-size: 20px;
    line-height: 32px;
  }

  .text-body {
    font-size: 24px;
    line-height: 38px;
  }

  .text-button {
    font-size: 23px;
    line-height: 37px;
  }
  
  .text-heading-4 {
    font-size: 28px;
    line-height: 36px;
  }
  
  .text-heading-3 {
    font-size: 32px;
    line-height: 42px;
  }

  
  .text-heading-1 {
    font-size: 56px;
    line-height: 65px;
  } */
}

/* Animations */
/* Buttons */
.button {
  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.button::before,
.button::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button--white,
.button--red,
.button--blue {
  font-weight: bold;
  overflow: hidden;
}

.button--white {
  color: #304098;
  background: #fff;
}

.button--red {
  color: #fff;
  background: #983030;
}

.button--blue {
  color: #fff;
  background: #304098;
}

.button--white span,
.button--red span,
.button--blue span {
  display: block;
  position: relative;
  z-index: 10;
}

.button--white:hover span {
  animation: MoveScaleUpInitial 0.3s forwards, MoveScaleUpEnd 0.3s forwards 0.3s;
}

.button--red:hover span {
  animation: MoveScaleUpInitial 0.3s forwards, MoveScaleUpEndRed 0.3s forwards 0.3s;
}

.button--blue:hover span {
  animation: MoveScaleUpInitial 0.3s forwards, MoveScaleUpEndBlue 0.3s forwards 0.3s;
}

@keyframes MoveScaleUpInitial {
  to {
    transform: translate3d(0, -105%, 0) scale3d(1, 2, 1);
    opacity: 0;
  }
}

@keyframes MoveScaleUpEnd {
  from {
    transform: translate3d(0, 100%, 0) scale3d(1, 2, 1);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    color: white;
  }
}

@keyframes MoveScaleUpEndRed {
  from {
    transform: translate3d(0, 100%, 0) scale3d(1, 2, 1);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    color: #b94d4d;
  }
}

@keyframes MoveScaleUpEndBlue {
  from {
    transform: translate3d(0, 100%, 0) scale3d(1, 2, 1);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
    color: #304098;
  }
}

.button--white::before,
.button--red::before,
.button--blue::before {
  overflow: hidden;
  content: "";
  width: 120%;
  height: 0;
  padding-bottom: 120%;
  top: -110%;
  left: -10%;
  border-radius: 50%;
  transform: translate3d(0, 68%, 0) scale3d(0, 0, 0);
}

.button--white::before {
  background: #304098;
}

.button--red::before {
  background: #fff;
}

.button--blue::before {
  background: #fff;
}

.button--white:hover::before,
.button--red:hover::before,
.button--blue:hover::before {
  transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}

.button--white::after,
.button--red::after,
.button--blue::after {
  overflow: hidden;
  content: "";
  transform: translate3d(0, -100%, 0);
  transition: transform 0.4s cubic-bezier(0.1, 0, 0.3, 1);
}

.button--white::after {
  background: #304098;
}

.button--red::after {
  background: #fff;
}

.button--blue::after {
  background: #fff;
}

.button--white:hover::after,
.button--red:hover::after,
.button--blue:hover::after {
  transform: translate3d(0, 0, 0);
  transition-duration: 0.05s;
  transition-delay: 0.5s;
  transition-timing-function: linear;
}

.heart-animation {
  animation: pulse 1.2s infinite;
}

@keyframes pulse {
	10% {transform: scale(1.5)}
}

/* Link */
.link {
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: background-position 0.3s ease-in-out;
}

.link:hover {
  background-position: 0;
}

.white-link {
  color: #fff;
  background-image: linear-gradient(to right, #b94d4d, #b94d4d 50%, #fff 50%);
}

.black-link {
  background-image: linear-gradient(to right, #b94d4d, #b94d4d 50%, #121212 50%);
}

.button-link svg {
  transition: transform 0.3s ease-in-out;
}

.button-link:hover svg {
  transform: translateX(5px);
}

/* Home */
.home-hero {
  background-image: url('https://res.cloudinary.com/dljsalifp/image/upload/v1686658930/hos/home-hero-bg_pnpz3s.png');
  background-size: cover;
  background-position: center right;
}

.home-memoriam {
  background-image: url("https://res.cloudinary.com/dljsalifp/image/upload/v1686664429/hos/memoriam-img-mobile_sasva8.png");
  background-size: cover;  
}

@media (min-width: 768px) {
  .home-memoriam {
    background-image: url("https://res.cloudinary.com/dljsalifp/image/upload/v1686698208/hos/memoriam-img-pc_aaz5j8.png");
    background-size: cover;
  }
}

.trumpet-left {
  background-image: url("https://res.cloudinary.com/dljsalifp/image/upload/v1686679407/hos/left-trumpet_ulteif.png");
  background-size: cover;
}

.trumpet-right {
  background-image: url("https://res.cloudinary.com/dljsalifp/image/upload/v1686679407/hos/right-trumpet_rvgly3.png");
  background-size: cover;
  background-position: center;
}